<div class="container-fluid">
  <div class="row d-flex flex-column align-items-center">
    <div class="col col-12 col-sm-12 col-lg-6" *ngIf="company">
      <div class="row d-flex justify-content-between" >
        <div class="col-5">
          <h1 class="m-0 fw-bold">
            <span>{{ company.ticker }}</span>
            <mat-icon>star_border</mat-icon>
          </h1>
          <h2 class="m-0" style="color: gray">{{ company.name }}</h2>
          <p>{{ company.exchange }}</p>
          <button class="btn btn-success">Buy</button>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-start">
          <img [src]="company.logo" width="60"/>
        </div>
        <div class="col-5 d-flex flex-column align-items-end">
          <h1 class="m-0 fw-bold"
              [style]="{color: company.values.dp > 0 ? 'green' : 'red'}">
              {{ company.values.c | number: '1.2-2' }}
          </h1>
          <h3 class="m-0" [style]="{color: company.values.dp > 0 ? 'green' : 'red'}">
            <mat-icon>trending_{{ company.values.dp > 0 ? 'up' : 'down' }}</mat-icon>
            <span>{{ company.values.d | number: '1.2-2'}}({{percentage(company.values.dp)}})</span>
          </h3>
          <p class="m-0">{{ company.values.t * 1000 | date: 'yyyy-MM-dd hh:mm:ss' }}</p>
        </div>
      </div>

      <div class="row">
        <h3 [style]="{color: isMarketOpen(company.values.t) ? 'green' : 'red'}"
            class="text-center fw-bold">
            {{ isMarketOpen(company.values.t) ? 'Market is Open' : 'Market Closed on ' + ((company.values.t + 5 * 60 ) * 1000 | date: 'yyyy-MM-dd hh:mm:ss') }}
        </h3>
      </div>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Summary" >
          <div class="row m-0">
            <div class="col col-12 col-sm-12 col-lg-6">
              <div class="row mt-4">
                <p class="text-center text-lg-start">
                  <strong class="me-1">High Price:</strong>
                  <span>61.95</span>
                </p>
                <p class="text-center text-lg-start">
                  <strong class="me-1">Low Price:</strong>
                  <span>61.95</span>
                </p>
                <p class="text-center text-lg-start">
                  <strong class="me-1">Open Price:</strong>
                  <span>61.95</span>
                </p>
                <p class="text-center text-lg-start">
                  <strong class="me-1">Prev. Close:</strong>
                  <span>61.95</span>
                </p>
              </div>
              <div class="row">
                <h2 class="text-decoration-underline text-center">
                  <a href="" style="color: #333333">About the company</a>
                </h2>
              </div>
              <div class="row">
                <p><strong>IPO Start Date</strong>: 2021-11-10</p>
                <p><strong>Industry</strong>: Technology</p>
                <p><strong>Webpage</strong>: <a href="">http://apple.com</a></p>
                <p><strong>Company peers</strong></p>
                <p>
                  <a href="">APPle</a>
                </p>
              </div>
            </div>
            <div class="col col-12 col-sm-12 col-lg-6">2</div>
          </div>
        </mat-tab>
        <mat-tab label="Top News"> Content 2 </mat-tab>
        <mat-tab label="Charts"> Content 3 </mat-tab>
        <mat-tab label="Insights">Content4</mat-tab>
      </mat-tab-group>
      <div class="container-fluid">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
